.bg-per
{
	content: '';
	background-image: url('/imgs/wallpaper/wallpaper.svg');
  	background-position: 50%;
  	background-repeat: no-repeat;
	background-size: cover;
}
.white-cover
{
	background-color: rgba(255,255,255,.85)!important;
}